/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* Booostrap Import */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.accordion-button {
    background-color: transparent ;
}

.accordion_button_dashboard::after {
    display: none;
}

.accordion-button:hover {
    background-color: transparent;
}

.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: -.125em;
    fill: currentColor;
}

/* .bi {
  } */

.btn-bd-primary {
    --bd-grey-bg: #6c757d;
    --bd-grey-rgb: 98, 107, 115;
    --bs-white: white;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-grey-bg);
    --bs-btn-border-color: var(--bd-grey-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6c757d;
    --bs-btn-hover-border-color: #6c757d;
    --bs-btn-focus-shadow-rgb: var(--bd-grey-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
}
  
.bd-mode-toggle {
    z-index: 1500;
}