RewriteEngine On

RewriteRule ^admin$ ./_admin/admin_portal.html [NC,L]
RewriteRule ^manager$ ./_manager/manager_portal.html [NC,L]
RewriteRule ^user$ ./_user/user_portal.html [NC,L]

Options -Indexes
ErrorDocument 404 /error.php

