/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* VARIABLE CSS */
:root{
    --header-height: 3rem;
    /* COLORS */
    /* Change favorite color */
    --hue-color: 255; 

   /* HSL color mode */
   --first-color: hsl(var(--hue-color), 5%, 60%);
   --first-color-second: hsl(var(--hue-color), 5%, 50%);
   --first-color-alt: hsl(var(--hue-color), 5%, 40%);
   --first-color-lighter: hsl(var(--hue-color), 5%, 70%);
   --title-color: hsl(var(--hue-color), 5%, 15%);
   --text-color: hsl(var(--hue-color), 5%, 10%);
   --text-color-light: hsl(var(--hue-color), 5%, 35%);
   --input-color: hsl(var(--hue-color), 5%, 25%);
   --body-color: hsl(var(--hue-color), 10%, 70%);
   --container-color: hsl(var(--hue-color), 10%, 90%);
   --scroll-bar-color: hsl(var(--hue-color), 5%, 50%);
   --scroll-thumb-color: hsl(var(--hue-color), 5%, 80%);

    /* Font and typography */
    --body-font: 'Inter', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 25px */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --noraml-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margins Bottom */
    /* .25rem = 4px, .5rem = 8px, .74rem = 12px  */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Inputs */
    --input-height: 3rem;

}
 
/* Font size for Large Devices */
@media screen and (min-width: 968px) {
    :root{
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --noraml-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* Variables Dark Theme */
body.dark-theme {
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 25%, 8%);
    --first-color-alt: hsl(var(--hue-color), 5%, 60%);
    --title-color: hsl(var(--hue-color), 25%, 95%);
    --text-color: hsl(var(--hue-color), 25%, 75%);
    --input-color: hsl(var(--hue-color), 25%, 16%);
    --body-color: hsl(var(--hue-color), 10%, 20%);
    --container-color: hsl(var(--hue-color), 0%, 50%);
    --scroll-bar-color: hsl(var(--hue-color), 25%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 25%, 36%);
}



/* Button Dark/Light */
.theme__btn {
    display: flex;
    display: flex;
    justify-content: flex-end;
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin: var(--mb-1);
    cursor: pointer;
}

/* Change theme button clicked */
.change-theme {
    color: var(--title-color);
    margin: 0;
    cursor: pointer;
}

/* Change theme hover */
.change-theme:hover {
    color: var(--first-color-alt);
}

/* BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--noraml-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    margin: 0;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

/* img {
    max-width: 100%;
    height: auto;
} */

/* Reusable Classes */
.section {
    padding: 2rem 0 8rem;
}

/* LAYOUT */
.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
.header {
    background: #8b8b8b;
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    bottom: initial;
    left: 0;
    z-index: var(--z-fixed);

}

.header__logo__container {
    display: flex;
    justify-content: center;
    margin: var(--mb-1-5);
}

.header__logo {
    height: 80px;
    width: auto;
    border-radius: 1rem;
    box-shadow: 0 0 5px var(--title-color);
}

.header__name__container {
    display: flex;
    justify-content: center;
    margin: var(--mb-2);
}

.header__name {
    font-weight: 300;
}

/* MAIN */
/* .main {
    
} */

/* LOGIN */
.login__button{
    cursor: pointer;
    font-size: var(--small-font-size);
}

.login__model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, .5); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 1rem; */
    /* z-index: var(--z-modal); */
    /* opacity: 1; */
    /* visibility: hidden; */
    /* transition: .3s; */
}

.login__model_content {
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

/* .login__content {
    background-color: rgb(180, 176, 176);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    
} */

.login__label {
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.login__input {
    /* width: 100%; */
    /* background-color: var(--input-color); */
    /* background-color: transparent;
    width: 50vh;
    height: 3rem;
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--noraml-font-size);
    border: 1px solid var(--input-color); */
    /* border: none; */
    /* border-radius: 5px; */
    /* outline: none;
    padding: .25rem .5rem .5rem 0; */
    background: rgb(180, 176, 176);
    width: 55vh;
    height: 3rem;
    margin: 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    padding-right: 2rem;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    font-size: var(--noraml-font-size);
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
label{
    margin-top: 5vh;
    align-items: center;
}
.login-button {
    width: 70%;
    height: 45px;
    margin-left: 10vh;
    background: #50504f;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--noraml-font-size);
    color: #FFF;
    font-weight: var(--font-medium);
}
.login__form {
    margin-top: 25vh;
}
.showPasswordLogin{
    margin: -20vh;
    
}

 






